{
  "openapi": "3.0.1",
  "info": {
    "title": "AUR /rpc",
    "description": "## AUR Metadata API version 5\nReport any issues here: [aurweb issue tracker](https://gitlab.archlinux.org/archlinux/aurweb/-/issues/)\n",
    "version": "5.0"
  },
  "servers": [
    {
      "url": "https://aur.archlinux.org",
      "description": "Official aurweb endpoint"
    },
    {
      "url": "https://server.moson.rocks",
      "description": "Unofficial Go implementation"
    }
  ],
  "tags": [
    {
      "name": "Package search"
    }
  ],
  "paths": {
    "/rpc/v5/search/{arg}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Term"
        },
        {
          "$ref": "#/components/parameters/SearchBy"
        }
      ],
      "get": {
        "tags": [
          "Package search"
        ],
        "description": "### Search for packages with a single term returning basic package information\n",
        "summary": "Single-term search",
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SearchBy"
        }
      ],
      "get": {
        "tags": [
          "Package search"
        ],
        "description": "### Search for packages with a single term returning basic package information\n",
        "summary": "Single-term search",
        "parameters": [
          {
            "$ref": "#/components/parameters/Term"
          }
        ],
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Package search"
        ],
        "description": "### Search for packages with a single term returning basic package information\n",
        "summary": "Single-term search",
        "requestBody": {
          "$ref": "#/components/requestBodies/SearchBody"
        },
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/info/{arg}": {
      "get": {
        "tags": [
          "Package details"
        ],
        "description": "### Get detailed information for a single package \nReturns detailed information of a package.\n",
        "summary": "Single package lookup",
        "parameters": [
          {
            "$ref": "#/components/parameters/Pkgname"
          }
        ],
        "responses": {
          "200": {
            "description": "Info result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/info": {
      "get": {
        "tags": [
          "Package details"
        ],
        "description": "### Get detailed information for multiple packages\n",
        "summary": "Multi package lookup",
        "parameters": [
          {
            "$ref": "#/components/parameters/Pkgnames"
          }
        ],
        "responses": {
          "200": {
            "description": "Info result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Package details"
        ],
        "description": "### Get detailed information for multiple packages \n",
        "summary": "Multi package lookup",
        "requestBody": {
          "$ref": "#/components/requestBodies/InfoBody"
        },
        "responses": {
          "200": {
            "description": "Info result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResult"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/suggest/{arg}": {
      "get": {
        "tags": [
          "Package search"
        ],
        "description": "### Returns a list of package-names starting with {term}\n",
        "summary": "Package name search (starts-with)",
        "parameters": [
          {
            "name": "arg",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Suggest results",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/suggest": {
      "get": {
        "tags": [
          "Package search"
        ],
        "description": "### Returns a list of package-names starting with {term}\n",
        "summary": "Package name search (starts-with)",
        "parameters": [
          {
            "name": "arg",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Suggest results",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/suggest-pkgbase/{arg}": {
      "get": {
        "tags": [
          "Package search"
        ],
        "description": "### Returns a list of package-base-names starting with {term}\n",
        "summary": "Package base search (starts-with)",
        "parameters": [
          {
            "name": "arg",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Suggest results",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/suggest-pkgbase": {
      "get": {
        "tags": [
          "Package search"
        ],
        "description": "### Returns a list of package-base-names starting with {term}\n",
        "summary": "Package base search (starts-with)",
        "parameters": [
          {
            "name": "arg",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Suggest results",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "description": "SearchResult contains a list of basic information for packages matching the search-term(s)",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResult"
          },
          {
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PackageBasic"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "term": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        ]
      },
      "InfoResult": {
        "description": "InfoResult contains a list of extended package information for packages matching any of the provided \"pkgname\" values",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResult"
          },
          {
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PackageExtended"
                }
              }
            }
          }
        ]
      },
      "PackageExtended": {
        "description": "Detailed package information",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/PackageBasic"
          },
          {
            "properties": {
              "License": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `license`"
              },
              "Depends": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `depends`"
              },
              "MakeDepends": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `makedepends`"
              },
              "OptDepends": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `optdepends`"
              },
              "CheckDepends": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `checkdepends`"
              },
              "Provides": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `provides`"
              },
              "Conflicts": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `conflicts`"
              },
              "Replaces": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `replaces`"
              },
              "Groups": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `groups`"
              },
              "Keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "From PKGBUILD `keywords`"
              }
            }
          }
        ]
      },
      "PackageBasic": {
        "description": "Basic package information",
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "From PKGBUILD `pkgname`"
          },
          "Description": {
            "type": "string",
            "description": "From PKGBUILD `pkgdesc`"
          },
          "PackageBase": {
            "type": "string"
          },
          "Maintainer": {
            "type": "string",
            "nullable": true
          },
          "NumVotes": {
            "type": "integer"
          },
          "Popularity": {
            "type": "number"
          },
          "FirstSubmitted": {
            "type": "integer",
            "description": "UNIX timestamp"
          },
          "LastModified": {
            "type": "integer",
            "description": "UNIX timestamp"
          },
          "OutOfDate": {
            "type": "string",
            "description": "UNIX timestamp, or null if not flagged"
          },
          "Version": {
            "type": "string",
            "description": "From PKGBUILD `pkgver`-`pkgrel`"
          },
          "URLPath": {
            "type": "string",
            "description": "Path to gzipped snapshot"
          },
          "URL": {
            "type": "string",
            "description": "From PKGBUILD `url`"
          }
        }
      },
      "ErrorResult": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResult"
          },
          {
            "properties": {
              "error": {
                "type": "string",
                "description": "Error message"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "default": []
              }
            }
          }
        ]
      },
      "BaseResult": {
        "properties": {
          "resultcount": {
            "type": "integer",
            "description": "Number of search results"
          },
          "type": {
            "type": "string",
            "description": "Type of API call"
          },
          "version": {
            "type": "integer",
            "description": "API Version"
          }
        }
      }
    },
    "parameters": {
      "SearchBy": {
        "name": "by",
        "description": "The ***by*** parameter let's you define the field that is used in the search query. If not defined, ***name-desc*** is used   \nFor ***name*** and ***name-desc*** a *contains*-like lookup is performed whereas all other fields require an exact value.\n",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "name",
            "name-desc",
            "depends",
            "checkdepends",
            "optdepends",
            "makedepends",
            "maintainer"
          ],
          "default": "name-desc"
        }
      },
      "Term": {
        "name": "arg",
        "description": "Use the ***{arg}*** parameter (string) to specifcy your search-term.\n",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "required": true
      },
      "Pkgname": {
        "name": "arg",
        "description": "Use the ***{arg}*** parameter to specifcy the package name.\n",
        "in": "path",
        "schema": {
          "type": "string"
        },
        "required": true
      },
      "Pkgnames": {
        "name": "arg[]",
        "description": "The ***{arg[]}*** parameter allows to specify one or more package names so that you can run multiple lookups in just one API call.\n",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "required": true
      }
    },
    "requestBodies": {
      "SearchBody": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "type": "object",
              "properties": {
                "arg": {
                  "description": "The ***{arg}*** parameter allows to specify a search-term.\n",
                  "type": "string"
                }
              },
              "required": [
                "arg"
              ]
            }
          }
        }
      },
      "InfoBody": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "type": "object",
              "properties": {
                "arg[]": {
                  "description": "The ***{arg[]}*** parameter allows to specify one or more package names so that you can run multiple lookups in just one API call.\n",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "arg[]"
              ]
            },
            "encoding": {
              "arg[]": {
                "style": "form",
                "explode": true
              }
            }
          }
        }
      }
    }
  }
}