{
  "openapi": "3.0.1",
  "info": {
    "title": "AUR /rpc",
    "description": "AUR Metadata API",
    "version": "5.0"
  },
  "servers": [
    {
      "url": "https://server.moson.rocks"
    }
  ],
  "components": {
    "schemas": {
      "SearchRecord": {
        "type": "object",
        "properties": {
          "resultcount": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "string"
                },
                "Name": {
                  "type": "string"
                },
                "NumVotes": {
                  "type": "integer"
                },
                "Popularity": {
                  "type": "integer"
                },
                "URLPath": {
                  "type": "string"
                },
                "URL": {
                  "type": "string"
                },
                "LastModified": {
                  "type": "integer"
                },
                "Maintainer": {
                  "type": "string"
                },
                "OutOfDate": {
                  "type": "integer"
                },
                "Version": {
                  "type": "string"
                },
                "FirstSubmitted": {
                  "type": "integer"
                },
                "PackageBase": {
                  "type": "string"
                },
                "ID": {
                  "type": "integer"
                },
                "PackageBaseID": {
                  "type": "integer"
                }
              }
            }
          },
          "version": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "InfoRecord": {
        "type": "object",
        "properties": {
          "resultcount": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "string"
                },
                "Keywords": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "NumVotes": {
                  "type": "integer"
                },
                "Popularity": {
                  "type": "number"
                },
                "URLPath": {
                  "type": "string"
                },
                "License": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "OptDepends": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "CheckDepends": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "URL": {
                  "type": "string"
                },
                "Name": {
                  "type": "string"
                },
                "LastModified": {
                  "type": "integer"
                },
                "Maintainer": {
                  "type": "string"
                },
                "MakeDepends": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "OutOfDate": {
                  "type": "string"
                },
                "Version": {
                  "type": "string"
                },
                "FirstSubmitted": {
                  "type": "integer"
                },
                "PackageBase": {
                  "type": "string"
                },
                "ID": {
                  "type": "integer"
                },
                "Depends": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Conflicts": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Provides": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Replaces": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "Groups": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "PackageBaseID": {
                  "type": "integer"
                }
              }
            }
          },
          "version": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "SearchBy": {
        "type": "string",
        "enum": [
          "name",
          "name-desc",
          "depends",
          "checkdepends",
          "optdepends",
          "makedepends",
          "maintainer",
          "provides",
          "conflicts",
          "keywords"
        ]
      }
    }
  },
  "paths": {
    "/rpc/v5/search/{term}": {
      "get": {
        "description": "Search for packages",
        "parameters": [
          {
            "name": "term",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "by",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SearchBy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchRecord"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/search": {
      "get": {
        "description": "Search for packages",
        "parameters": [
          {
            "name": "arg",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "by",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/SearchBy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchRecord"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/info/{pkgname}": {
      "get": {
        "description": "Get package information",
        "parameters": [
          {
            "name": "pkgname",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Info result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoRecord"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/info": {
      "get": {
        "description": "Get package information",
        "parameters": [
          {
            "name": "arg[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Info result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoRecord"
                }
              }
            }
          }
        }
      }
    },
    "/rpc/v5/suggest/{term}": {
      "get": {
        "description": "Get list of matching packages",
        "parameters": [
          {
            "name": "term",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Suggest results",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}